.homePage{
    background-color: red;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.section{
    width: 100%;
    background-color: blue;
    position: relative;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    padding-top: 80px;
    color: white;
}
.section:first{
    background-color: pink;
}
.section:last-child{
    background-color: lightgreen;
}

.section > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: right;
    left: 0;
    top: 0;
    z-index: -1;
}
.section > a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 99px;
    border: 2px solid black;
    transition: 0.25s ease-in-out;
}
.section > a:hover{
    opacity: 0.75;
    
}